*/.fun/nas
*/.fun/root
*/.fun/tmp
*/.fun/python
*/FSharpDemo/obj
*/FSharpDemo/bin
go-demo/code/bootstrap
ts-demo/server.js
.vscode
FSharp-demo/.vs
FSharp-demo/NuGetScratch
FSharp-demo/.NETCoreApp,Version=v3.1.AssemblyAttributes.fs
